@import "../responsive.scss";

.homepage {
  display: flex;
  height: 100vh;

  .textContainer {
    flex: 3;
  }
  .imageContainer {
    flex: 2;

    @include sm {
      display: none;
    }

    img {
      width: 100hv;
      height: 100%;
      position: fixed;
      border-radius: 2%;
      z-index: -5;
    }
  }
}
