.filter {
  position: sticky;
  top: 0; // Make it stick to the top when scrolling
  background: white; // Optional: prevent content from showing through
  // ...rest of your styles

  position: sticky;
  display: flex;
  flex-direction: column;
  gap: 10px;
  h1 {
    color: orange;
    font-weight: 300;
    font-size: 24px;
  }
  .item {
    gap: 2px;
    display: flex;
    flex-direction: column;

    label {
      font-size: 10px;
    }

    input,
    select {
      width: 70px;
      padding: 10px;
      border: 1px solid orange;
      border-radius: 5px;
      font-size: 14px;
    }
  }
  .top {
    input {
      border: 1px solid orange;
      width: 100%;
    }
  }
  .bottom {
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
}
