.slider {
  width: 100%;
  height: 350px;
  display: flex;
  gap: 20px;

  .fullSlider {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: orange;
    display: flex;

    .arrow {
      margin-top: 50%;
      padding: 25px;
      flex: 1;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }

    .close {
      top: 0;
      right: 0;
      font-size: 1cm;
      cursor: pointer;
      transition: 5s ease-out;
    }
    imageContainer {
      flex: 10;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
  }
  .bigImage {
    flex: 3;
  }
  .smallImages {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    img {
      height: 100px;
    }
  }
}
